# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.


# UPDATE BACKEND SERVER: https://api.render.com/deploy/srv-cgmnsnjhp8ua8vrf906g?key=5I_no8MFzIk


# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

NODE_ENV=""
PORT=5000
# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
POSTGRES_URL=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL_NON_POOLING=""

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""
NEXT_PUBLIC_TRPC_SEREVR_URL=""
NEXT_PUBLIC_HOST_URL=""
DOMAIN_NAME=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# GOOGEL OAUTH FOR NODEMAILER
NM_AUTH_EMAIL=""
NM_DEFAULT_FROM_EMAIL=""
NM_CLIENT_ID=""
NM_CLIENT_SECRET=""
NM_REDIRECT_URI=""
NM_REFRESH_TOKEN=""
NM_DKIM_PRIVATE_KEY=""

# REDIS
REDIS_URL=""


# PUSHER
PUSHER_APP_ID=""
PUSHER_SECRET=""
NEXT_PUBLIC_PUSHER_KEY=""
NEXT_PUBLIC_PUSHER_CLUSTER=""

REACT_EDITOR=code



