body::-webkit-scrollbar {
  width: 0.8em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: rgb(149, 149, 149);
}

.taskList::-webkit-scrollbar {
  display: none;
  width: 0.5em;
  margin-left: 10px;
}

.taskList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.042);
  height: 50px;
}

.taskList::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: rgb(149, 149, 149);
}
